# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Django
db.sqlite3
/media
/static
*.log
*.pot
*.mo
local_settings.py # If you create a separate local settings file

# Environment Variables
.env

# Operating System Files
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/ # PyCharm
.vscode/ # VSCode
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks (if you use them for analysis)
.ipynb_checkpoints

# Build artifacts
dist/
build/
*.egg
